<form class="emp-form"  #employeeForm="ngForm" >
	<div class="form-row">
		<div class="form-group col-md-6">
			<input class="form-control" name="userId" [(ngModel)]="employee.userId" placeholder="User id ">
		</div>
		<div class="form-group col-md-6">
			<input class="form-control" name="id" [(ngModel)]="employee.id" placeholder="Id ">
		</div>
		<div class="form-group col-md-6">
			<input class="form-control" name="title" [(ngModel)]="employee.title" placeholder="Title">
		</div>
		<div class="form-group col-md-6">
			<input class="form-control" name="body" [(ngModel)]="employee.body" placeholder="body">
		</div>
	</div>
	<div class="form-row">
		
		<div class="form-group col-md-8">
			<button type="Submit" class="btn btn-lg btn-block btn-info">Submit</button>
		</div>
		<div class="form-group col-md-4">
			<button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(EmployeeForm)">Reset</button>
		</div>
	</div>
</form>
